<header class="headder_box">
  <div class="d-flex justify-content-between "  >
    <div class="d-flex align-self-center">
     <a href="/Blog" style="text-decoration:none;color: ;" class="d-flex">
      <img height="50px" src="https://raw.githubusercontent.com/BoszGTec/My-Source/77217bc4fee1bc5aa160ffde8136904980297a57/Icon_Logo/BoszGTec_logo_dark.svg" />
      <h1 class="title_header" style="color:#000;" >BoszGTec</h1>
     </a>
     <div style="margin-left: 5px; margin-right: 5px; border-right: solid 1px var(--bs-gray-400);"></div>
     <h2 id="title_content_header" class="align-self-center" style="color : var(--bs-gray-700);">Blog : {{page.title}}</h2>
    </div>

    <div class="align-self-center" style="padding-right:20px;">
      <a href="/">Home</a>
      <a href="/Blog">Blog</a>
      <a href="/Blog/about">About</a>
    </div>
  </div>
</header>
