<!doctype html>
<html lang="en">
  {%include head.html%}
  <body style="font-family: 'Prompt', sans-serif;">
  {%include headder.html%}
    <div class="d-flex justify-content-center">
      <div style="padding:5px;width:80%;">
        <center>
          <h2>404</h2>
        </center>
        <center>
          <b>File not found</b>
        </center> 
        <center>
        {{content}}
        </center>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/gh/BoszGTec/My-Source/script/addcredit/v1.js" ></script>
</html>
