<!doctype html>
<html lang="en">
  {%include head.html%}
  <body>
  {%include headder.html%}
    <div class="d-flex">
      <div style="width:20%;padding:5px;background-color:#f0f0f0;">
      <h3>Blog List</h3>
      {%for post in site.posts%}
        {%if post.tag != ""%}
         {%if post.title != post.tag%}
          <a style="padding-left:8px;" href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
         {%endif%}
        {%endif%}
        {%if tag == ""%}
         <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
        {%endif%}
        <br/>
      {%endfor%}
      </div>
      <div style="width:80%;padding:5px;" >{{content}}</div>
    </div>
  </body>
  {%include footer.html%}
</html>
  
