<!doctype html>
<html lang="en">
  {%include head.html%}
  <body>
  {%include headder.html%}
    <div class="d-flex">
      <div id="side_bar" style="width:20%;padding:5px;background-color:#f0f0f0;">
      <h3>Blog List</h3>
      {%for post in site.posts%}
        {%if post.tag != ""%}
         {%if post.title == post.tag%}
           <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
           <br/>
         {%endif%}
        {%endif%}
        {%if post.tag == "cm"%}
         <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>        {%endif%}
         <br/>
       {%endfor%}
      </ul>
      </div>
      <div style="width:80%;padding:5px;overflow-x:hidden;" >{{content}}</div>
    </div>
  </body>
  {%include footer.html%}
</html>
  
