<!doctype html>
<html lang="en">
  {%include head.html%}
  <body style="font-family: 'Prompt', sans-serif;">
  {%include headder.html%}
    <div class="d-flex justify-content-center">
      <div style="padding-top:5px;width:80%;">
        {{content}}
        <hr/>
        <h3>Blog</h3>
        <ul style="overflow-x:hidden;">
        {%for post in site.posts%}
         {%if post.tag != ""%}
          {%if post.title == post.tag%}
           <li>
            <a href="{{post.url | prepend: site.baseurl}}" class="d-flex justify-content-between box-post-ct" >
              <div>
                <h4>{{ post.title }}</h4>
                <p>{{post.showtext}}</p>
              </div>
              <img src="{{post.image}}" />
             </a>
           </li>
          {%endif%}
         {%endif%}
         {%if post.tag == "cm"%}
          <li>
            <a href="{{post.url | prepend: site.baseurl}}" class="d-flex justify-content-between box-post-ct">
              <div>
                <h4>{{ post.title }}</h4>
                <p>{{post.showtext}}</p>
              </div>
              <img src="{{post.image}}" />
             </a>
          </li>
         {%endif%} 
        {%endfor%}
        </ul>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/gh/BoszGTec/My-Source/script/addcredit/v1.js" ></script>
</html>
