<!doctype html>
<html lang="en">
  {%include head.html%}
  <body style="font-family: 'Prompt', sans-serif;">
  {%include headder.html%}
    <div class="d-flex justify-content-center">
      <div style="padding:5px;width:80%;">
        {{content}}
        <hr/>
        <h3>Blog</h3>
        {%for post in site.posts%}
          <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
          <br/>
        {%endfor%}
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/gh/BoszGTec/My-Source/script/addcredit/v1.js" ></script>
</html>
