<!doctype html>
<html lang="en">
  {%include head.html%}
  <body style="font-family: 'Prompt', sans-serif;">
  {%include headder.html%}
    <div class="d-flex justify-content-center">
      <div style="padding:5px;width:80%;">
        {{content}}
        <hr/>
        {%for tag in site.tags%}
         {{tag[0]}}
         {%for post in tag| reverse%}
          {%for p in post%}
           <a href="{{p.url | prepend: site.baseurl}}">{{ p.title }}</a>
           <br/>
          {%endfor%}
         {%endfor%}
        {%endfor%}
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/gh/BoszGTec/My-Source/script/addcredit/v1.js" ></script>
</html>
